@font-face {
    font-family: VT323-Regular;
    src: url('./styles/VT323-Regular.ttf');
}

* {
    box-sizing: border-box;
    /* background-color: black;
    color: white;
    border: 1px solid beige; */
    font-family: VT323-Regular;
    
}

body {
    background-color: black;
}

.terminalScreen {
    width: 85vw;
    height: 85vh;
    background-color: green;
    position: relative;
    margin: 7.5vh 7.5vw;
}

.scan, .bezel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scan {
    opacity: 38%;
    z-index: 1;
}

.content {
    padding: 60px;
    color: rgb(195, 255, 105);
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(168, 202, 148), 0 0 1em rgb(168, 202, 148), 0 0 0.2em rgb(168, 202, 148);
    position: relative;
    
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#array {
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(20, 20px);
}

#generate-array, #random-pixel {
    background-color: greenyellow;
    color: green;
    position: relative;
}



.hidden {
    display: none;
}



.text {
    width: fit-content;
    max-width: 60%;
    margin: 5px auto;
    font-size: 16px;
	top: 95%;
}

#videos {
    height: 85vh;
    width: 85vw;
    margin-top: 15vh;

}

.video-div {
    width: fit-content;
    height: fit-content;
    margin: 50px auto;
    
}

.clockArray {
	width: fit-content;
	max-width: 95%;
	overflow-wrap: break-word;
	margin: 25px auto;
	font-size: 10px;
}

#arrHours {
	margin-top: 150px;
}
#arrSeconds {
	margin-bottom: 150px;
}
