@font-face {
    font-family: VT323-Regular;
    src: url(./VT323-Regular.ttf)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: VT323-Regular;
}

.big-div {
    display: inline-block;
    width: 50vw;
    height: 90vh;
    position: absolute;
    margin: 5vh 0;
}



.left {
    left: 5px;
}

.right{
    left: 52%;
}

.title {
    text-shadow: 3px 3px #505050;
    text-align: center;
}

#array-border-one {
    background-color: #202020;
    border: 0;
    padding: 2px;
    max-width: 412px;
    margin: 30px auto;
}

#array-border-two {
    background-color: #404040;
    border: 0;
    padding: 2px;
}

#array-border-three {
    background-color: #505050;
    border: 0;
    padding: 2px;
}

#array {
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(20, 20px);
}

#generate-array {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 298px;
    top: 285px;
    
}

#random-pixel {
    position: relative;
    width: 50px;
    height: 30px;
    left: 409px;
    top: -57px;
}

.pixel {
    border: 1px solid #202020
}

.alive {
    background-color: #808080;
}

.hidden {
    display: none;
}